body {
  color: #ccc;
  background: #000;
}

figure figcaption {
  font-size: 24px;
}

figure img {
  display: block;
  margin: auto;
  width: 2.666667rem;
  margin-bottom: 37.5px;
}

figure .content {
  font-size: 18px;
}